@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'GowoonDodum';
}

#profil {
}

#profil > img {
  height: 50px;
}

header {
  background: #244c80;
  height: 150px; 
}

main {
  background: #abadb1;
  width: 1140px;
  min-height: 400px;
  margin: auto;
}

footer {
  background: #ca0a0a;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

