* {
  box-sizing: border-box;
}

body {
  margin: 80px;
}

main {
  width: 1140px;
}

header {
  height: 200px;
  display: flex;
}

#home-logo {
  width: 80px;
}

.theme {
  font-size: 20px;
  font-weight: bold;
}


header > section:nth-of-type(1), 
header > section:nth-of-type(3) {
  flex-basis: 15%;
}

header > section:nth-of-type(2) {
  flex-basis: 70%;
}

.search-area{
  width: 500px;
}

.search-area fieldset {
  border: 2px solid rgb(174, 182, 192);
  border-radius: 40px;
  padding: 2px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 0; /* none */
  outline: none;
  /* outline : input태그에
  포커싱 되었을 때 나타나는 바깥선*/
  flex-basis: 92%;
}

#search-btn {
  flex-basis: 8%;
  cursor: pointer;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  color: rgb(174, 182, 192);
}



section > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50%;
}

#menu-2 a {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#menu-2 img {
  width: 100%;
  height: auto;
}

#menu-1 a {
  text-decoration: none;
}

#menu-3 a {
  text-decoration: none;
}



footer {
  color: rgb(138, 144, 151);
}

footer > section {
  margin-top: 50px;
}

footer hr {
  border-top: 0.5px solid rgb(174, 182, 192);
}

footer a {
  color: rgb(138, 144, 151);
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

